.container-page {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 45px;

  background-color: var(--primary-color);

  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

header * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .menu-button {
  border: 1px white;
}

header .logo img {
  height: 44px;
  width: auto;

  margin: 0px;
}

header .items h2 {
  margin: 0px 10px;
  color: #606065;
}

.body {
  min-height: calc( 100vh - 45px);

  top: 45px;

}

.body .side-nav {
  background-color: #484d4a;
  color: white;

  max-height: 100vh;
  overflow-y: scroll;

  transition: width .3s;
}

.body .side-nav::-webkit-scrollbar {
  display: none;
}

.side-item {
  font-size: 18px;
  padding: 10px 7px;
}

.side-item.active{
  background-color: #00000055;
}

.side-item .page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-item .page div {
  display: flex;
  align-items: center;
}

.side-item .page svg{
  transition: .6s;
  cursor: pointer;
}

.side-item .page p {
  margin: 0px 10px;
  cursor: pointer;
}

.side-item .page p a,
.side-item .page p a:hover,
.side-item .page p a:visited{ 
  color: #fff;
  text-decoration: none;
}

.side-item .subpage {
  height: 0px;
  opacity: 0;
  visibility: hidden;

  font-size: 15px;
  margin: 3px 0px 0px 45px;

  list-style-type: none;
  transition: .6s;
}

.side-item .subpage li a, 
.side-item .subpage li a:hover,
.side-item .subpage li a:visited{
  text-decoration: none;
  color: white;
}

.side-item .subpage.active {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.page > svg.rotate{
  transform: rotate(-90deg);
}

.body .content{
  height: max-content;
  max-height: calc(100vh - 40px);
  
  padding: 20px;

  overflow: auto;
}

footer {
  /* margin-bottom: 40px; */
  padding: 40px;

  grid-column: span 2;
  display: flex;
  justify-content: center;
}

footer p a,
footer p a:hover,
footer p a:visited {
  text-decoration: none;
}